body{
background:black;
color:white;
font-family:Arial;
margin:0;
padding:0;
}

.topbar{
background:#111;
padding:20px;
color:gold;
font-size:20px;
font-weight:bold;
}

.container{
padding:15px;
}

.card{
background:#111;
padding:20px;
border-radius:20px;
margin-bottom:20px;
}

input{
width:100%;
padding:15px;
margin-top:10px;
border:none;
border-radius:10px;
font-size:18px;
box-sizing:border-box;
}

button{
width:100%;
padding:15px;
margin-top:10px;
border:none;
border-radius:12px;
font-size:20px;
font-weight:bold;
background:#00c853;
color:white;
}

.logout{
background:red;
}

.tabs{
display:flex;
gap:10px;
}

.tabs button{
background:#222;
}

#timer{
font-size:70px;
color:gold;
text-align:center;
}

#result{
color:#00ff99;
}

.numbers{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
margin-top:20px;
}

.numbers button{
background:#222;
height:70px;
}

.colors{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
margin-top:20px;
}

.green{
background:green;
}

.red{
background:red;
}

.violet{
background:purple;
}

.bigsmall{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:20px;
}

.big{
background:#00c853;
}

.small{
background:#ff9800;
}
